@import "visually-hidden";
@import "container";
@import "header";
@import "footer";
@import "article";
@import "modal";



.contect-hero-inner {
    padding-top: 120px;
}
.contact-title-box {
    max-width: 327px;
    margin: 0 auto;
}
.contact-title {
    margin: 0 0 40px 0;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: #36536B;       
}
.contact-form-group {
    margin: 0 auto;
}   
.contact-form {
    max-width: 327px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-input-invalid {
    display: none;
}
.contact-input-invalid2 {
    display: none;
}
.contact-input {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 0 16px 20px;
    border: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.5);
    background-color: transparent;
    opacity: 0.5;
    &:focus {
        opacity: 1;
        border-bottom: 1px solid rgba(54, 83, 107, 1);
        outline: none;
    }
    &:invalid:not(:placeholder-shown,:focus) {
        color: red;
        border-bottom: 2px solid red;
        animation: shake 500ms;
    }
    @keyframes shake {
        0% { transform: rotate(5deg)}
        25% { transform: rotate(-5deg)}
        50% { transform: rotate(5deg)}
        75% { transform: rotate(-5deg)}
        100% { transform: rotate(0deg)}
        
    }
    &:not(:placeholder-shown):not(:focus):invalid+ .contact-input-invalid {
        display: block;
        color: red;
    }
     
}
.contact-textarea {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 0 16px 20px;
    border: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.5);
    background-color: transparent;
    resize: none;
    opacity: 0.5;
    &:focus {
        opacity: 1;
        border-bottom: 1px solid rgba(54, 83, 107, 1);
        outline: none;
    }
    &:invalid:not(:placeholder-shown,:focus) {
        color: red;
        border-bottom: 2px solid red;
        animation: shake 500ms;
    }
    @keyframes shake {
        0% { transform: rotate(5deg)}
        25% { transform: rotate(-5deg)}
        50% { transform: rotate(5deg)}
        75% { transform: rotate(-5deg)}
        100% { transform: rotate(0deg)}
        
    }
    &:not(:placeholder-shown):not(:focus):invalid+ .contact-input-invalid {
        display: block;
        color: red;
    }
}
.chek-group {
    max-width: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #36536B;
}
.contact-checkbox {
    width: 30px;
    height: 20px;
    margin-right: 18px;
    border: 1px solid #ccc;
}
input {
    &:checked~.contact-checkbox{
        display: block;
        background-image: url("../images/checked.svg");
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid transparent;
    }
}
.form-btn {
    padding: 16px 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #36536B;
    border: 1px solid #36536B;
    border-radius: 24px;
    background-color: transparent;
    &:hover {
        color: white;
        background-color: #36536B;
    }
}
.contact-brands-title-box {
    max-width: 327px;
    margin: 0 auto;
}
.contact-brands-title {
    margin: 0 0 48px 0;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.184615px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand-list-item {
    margin: 0 10px 45px 0;
}


@media only screen and (min-width: 768px){
    .contect-hero-inner {
        padding-top: 163px;
    }
    .contact-title-box {
        max-width: 573px;
        margin: 0 auto;
    }
    .contact-title {
        margin: 0 0 54px 0;
        font-family: "DM Serif Display";
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.369231px;
    }
    .contact-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact-form-group {
        margin-bottom: 84px;
    }   
    .contact-form {
        max-width: 445px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-input {
        width: 100%;
        margin-bottom: 8px;
        padding: 16px 0 16px 20px;
        border: none;
        border-bottom: 1px solid rgba(54, 83, 107, 0.5);
        background-color: transparent;
    }
    .contact-textarea {
        width: 100%;
        margin-bottom: 8px;
        padding: 16px 0 16px 20px;
        border: none;
        border-bottom: 1px solid rgba(54, 83, 107, 0.5);
        background-color: transparent;
    }
    .contact-checkbox {
        width: 35px;
    }
    .form-btn {
        padding: 16px 50px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #36536B;
        border: 1px solid #36536B;
        border-radius: 24px;
        background-color: transparent;
    }
    .contact-brands {
        max-width: 541px;
    }
    .contact-brands-title-box {
        max-width: 445px;
        margin: 0 auto;
    }
    .contact-brands-title {
        margin: 0 0 48px 0;
        font-family: "DM Serif Display";
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.184615px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    .brand-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .brand-list-item {
        margin: 0 50px 50px 0;
    }

}

@media only screen and (min-width: 1000px) {
    .contect-hero-inner {
        padding-top: 170px;
    }
    .contact-title-box {
        max-width: 730px;
        margin: 0 0;
    }
    .contact-title {
        margin: 0 0 54px 0;
        font-family: "DM Serif Display";
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-align: start;
        letter-spacing: -0.369231px;
    }
    .contact-form-group {
        margin: 0 0 84px 0;
    }   
    .contact-form {
        max-width: 445px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-input {
        width: 100%;
        margin-bottom: 15px;
        padding: 16px 0 8px 20px;
        border: none;
        border-bottom: 1px solid rgba(54, 83, 107, 0.5);
        background-color: transparent;
    }
    .contact-textarea {
        width: 100%;
        margin-bottom: 8px;
        padding: 16px 0 16px 20px;
        border: none;
        border-bottom: 1px solid rgba(54, 83, 107, 0.5);
        background-color: transparent;
    }
    .form-btn {
        padding: 16px 50px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #36536B;
        border: 1px solid #36536B;
        border-radius: 24px;
        background-color: transparent;
    }
    .contact-brands {
        max-width: 542px;
    }
    .contact-brands-title-box {
        max-width: 445px;
        margin: 0 auto;
    }
    .contact-brands-title {
        margin: 0 0 48px 0;
        font-family: "DM Serif Display";
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.184615px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    .brand-list {
        max-width: 540px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .brand-list-item {
        margin: 0 0px 50px 0;
    }

}